@tailwind base;
@tailwind components;
@tailwind utilities;


/** Extra */
.progress-wrp {
  padding: 1px;
  position: relative;
  height: 30px;
  border-radius: 3px;
  text-align: left;
  background: #fff;
}

.progress-wrp .progress-bar {
  height: 100%;
  border-radius: 3px;
  background-color: #009634;
  width: 0;
  box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.11);
}

.progress-wrp .status {
  top: 3px;
  left: 50%;
  position: absolute;
  display: inline-block;
  color: #ffffff;
}

/** Custom Scroll bar */
/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ebebeb;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(184, 184, 184);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(184, 184, 184);
}

/** Scroll bar for mozilla */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(184, 184, 184) #ebebeb;
}